{% extends 'base.html.twig' %}

{% block title %}Edit Variant{% endblock %}

{% block body %}
    <h1>Edit Variant</h1>

    {{ include('variant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('variant_index') }}">back to list</a>

    {{ include('variant/_delete_form.html.twig') }}
{% endblock %}
